@import "mixin.lessimport";

#content.admin {
  .create-button-wrapper {
    margin-bottom: 20px;
  }
  .table {
    width: 100%;
    margin: 0 0 20px 0;

    td {
      vertical-align: top;
      padding: 10px;
      border-top: 0;
    }
    .single-line {
      white-space: nowrap;
      line-height: 32px;
    }
    h4 {
      margin: 0;
      font-family: @font-open-sans;
      font-size: 18px;
      font-weight: normal;
      line-height: 32px;
    }
    p {
      margin: 10px 0 0 0;
    }
    .excerpt {
      color: @color-medium;
    }
    .table-controls {
      min-width: 126px;
    }
  }
  .table-striped {
    tr:nth-child(odd) {
      td {
        background: @color-bright;

        &:first-child {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
        }
        &:last-child {
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }
    }
  }
  .entries {
    margin-top: 20px;
  }
  .exports {
    .error-status {
      color: #da4f49;
    }
  }
  .filepicker {
    .image {
      display: block;
      width: 120px;
      height: 120px;
      position: relative;
      margin-top: 10px;
      color: #000;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        .transition(opacity, 0.1s);
      }
      i {
        position: absolute;
        top: -3px;
        right: -3px;
        opacity: 0;
        .transition(opacity, 0.1s);
      }
    }
    .image:hover {
      text-decoration: none;

      img {
        opacity: 0.5;
      }
      i {
        opacity: 1;
      }
    }
  }
  .entry-image-list {
    margin: 0;
    list-style-type: none;

    li {
      float: left;
      position: relative;
      margin: 10px 10px 0 0;
      padding: 0;

      img {
        display: block;
        width: 120px;
        height: 60px;
        border-radius: 4px;
        .transition(opacity, 0.1s);
      }
      .buttons {
        position: absolute;
        top: 14px;
        left: 15px;
        opacity: 0;
        .transition(opacity, 0.1s);
      }
      &:hover {
        img {
          opacity: 0.5;
        }
        .buttons {
          opacity: 1;
        }
      }
    }
  }
}
