#post-modal {
  width: 760px;
  margin-left: -380px;

  form {
    margin-bottom: 0;
    .control-group:last-child {
      margin-bottom: 0;
    }
  }
}
#content fieldset {
  // Reset the left margin that fieldsets have by default
  margin: 0;
}
@media (max-width: 767px) {
  #post-modal {
    width: auto;
    margin: 0;
  }
}
.filepicker {
  .help-block {
    margin-top: 10px;
  }
  img {
    display: block;
    width: 100px;
    height: 100px;
    margin-top: 10px;
  }
}