#post-modal {
  width: 760px;
  margin-left: -380px;

  form {
    margin-bottom: 0;
    .control-group:last-child {
      margin-bottom: 0;
    }
  }
}
@media (max-width: 767px) {
  #post-modal {
    width: auto;
    margin: 0;
  }
}
