@import "mixin.lessimport";

.placeholderColor (@color) {
  &::-webkit-input-placeholder {
    color: @color;
  }
  &:-moz-placeholder {
    color: @color;
  }
  &::-moz-placeholder {
    color: @color;
  }
  &:-ms-input-placeholder {
    color: @color;
  }
}

fieldset {
  margin: 0 0 20px 0;
  padding: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  margin: 0 0 15px 0;
  border-bottom: 1px solid @color-light;
  // Make form legends look like h3 headings
  font-family: @font-source-sans-pro;
  font-size: 26px;
  font-weight: 400;
  line-height: 40px;
}
input[type='text'],
input[type='password'],
input[type='email'],
textarea {
  width: 226px;
  height: 20px;
  padding: 6px;
  border: 1px solid @color-light;
  border-radius: 4px;
  color: lighten(#222226, 20%);
  .placeholderColor(@color-light);
  outline: none;
  .transition(~"background, box-shadow", 0.2s);

  &.small {
    width: 166px;
  }
  &.large {
    width: 415px;
  }
  &:focus {
    background: @color-bright;
  }
}
textarea {
  height: auto;
}
form {
  .control-group {
    min-height: 30px;
    margin-bottom: 10px;

    .control-label {
      float: left;
      width: 185px;
      line-height: 30px;
      text-align: right;
      cursor: pointer;
    }
    .controls {
      margin-left: 200px;
    }
    .help-block {
      display: block;
      margin-top: 10px;
      color: @color-medium;
    }
    .profile-links .link-row {
      input {
        float: left;
        margin-bottom: 10px;

        &:first-child {
          margin-right: 10px;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .profile-links-control-group .help-block {
    margin-top: 0;
  }
}

.alert {
  margin: 0 0 15px 0;
  padding: 6px 10px;
  border-radius: 4px;
}
.alert-success {
  border: 1px solid #5bb75b;
  background: lighten(#5bb75b, 42%);
  color: #5bb75b;
}
.alert-warning {
  border: 1px solid #faa732;
  background: lighten(#faa732, 40%);
  color: #faa732;
}
.alert-error {
  border: 1px solid #da4f49;
  background: lighten(#da4f49, 40%);
  color: #da4f49;
}
