@import "mixin.lessimport";

body {
  /* Reset Bootstrap's paddings on mobile resolutions */
  padding: 0;
}
h1 {
  font-family: @font-source-sans-pro;
  font-size: 44px;
  font-weight: 400;
  line-height: 1em;
}
h2 {
  font-family: @font-source-sans-pro;
  font-size: 32px;
  font-weight: 400;
  line-height: 1em;
}
h3 {
  font-family: @font-source-sans-pro;
  font-size: 26px;
  font-weight: 400;
}
a, a:hover {
  color: @color-link;
}

/* Forms */
// Make form legends look like h3 headings
legend {
  font-family: @font-source-sans-pro;
  font-size: 26px;
  font-weight: 400;
}
form, legend, .form-horizontal .control-group, .alert {
  margin-bottom: 10px;
}
.form-horizontal textarea + .help-block {
  margin-top: 5px;
}
.form-actions {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 9px 10px 10px 10px;
}
.modal form {
  margin-bottom: 0;

  .control-group:last-child {
    margin-bottom: 0;
  }
}
