@import "mixin.lessimport";

// Clearfix :(
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

body {
  background: @color-background;
  color: @color-dark;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align: left;
  line-height: 20px;
}
h1 {
  font-family: @font-source-sans-pro;
  font-size: 44px;
  font-weight: 400;
  line-height: 1em;
}
h2 {
  font-family: @font-source-sans-pro;
  font-size: 32px;
  font-weight: 400;
  line-height: 1em;
}
h3 {
  font-family: @font-source-sans-pro;
  font-size: 26px;
  font-weight: 400;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  color: #0088cc;
  text-decoration: underline;
}
a:focus {
  color: #0088cc;
  text-decoration: underline;
  outline: none;
}
p {
  margin: 0 0 10px 0;
}
ul {
  margin: 0;
  padding: 0;
}

.inner-wrapper {
  min-width: 560px;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
.inverse {
  background: @color-dark;
  color: @color-light;
  // Prevent the inner margins to collapse outside container
  overflow: hidden;

  .inner-wrapper {
    margin: 50px auto;
  }
}
.header {
  padding: 20px 0;

  h1 {
    margin: 0;
    // To match the xlarge button height (usually positioned on the right side
    // of the header)
    line-height: 52px;
  }
}
