@import "mixin.lessimport";

#content.thanks {
  .export-animation {
    position: relative;
    height: 186px;
    margin: 0;
    padding: 0;

    li {
      position: absolute;
      width: 100%;
      height: 186px;
      margin: 0;
      padding: 0;
      background-repeat: no-repeat;
      background-position: top left;

      .responsive-right {
        float: right;
        // This is the exactly how much width the Delete Export button occupies
        width: 43px;
        height: 186px;
        background-repeat: no-repeat;
        background-position: top right;
      }
      &.before,
      &.before .responsive-right {
        background-image: url('/image/export-animation/export-before.png');
      }
      &.generating,
      &.generating .responsive-right {
        background-image: url('/image/export-animation/export-generating.png');
      }
      &.after,
      &.after .responsive-right {
        background-image: url('/image/export-animation/export-after.png');
      }
    }
  }
}
