<template name="admin">
  <div id="post-modal" class="modal hide fade"></div>
  <div class="container admin">
    <div class="page-header">
      <button class="btn btn-large btn-launch pull-right">Timeline</button>
      <h1>Aufond <small>Post and update your personal info</small></h1>
    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#entries" data-toggle="tab">Entries</a></li>
      <li><a href="#meta" data-toggle="tab">Meta</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="entries">
        <p>
          <button class="btn btn-primary btn-large btn-post" data-toggle="modal" data-target="#post-modal" data-title="What have you been up to?" data-button="Create">Post a new story about yourself</button>
        </p>
        <table class="entries table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Headline</th>
              <th>Excerpt</th>
              <th>From</th>
            </tr>
          </thead>
          <tbody>
            {{#each entries}}
              <tr>
                <td>{{_id}}</td>
                <td>{{headline}}</td>
                <td class="excerpt">
                  <span class="text">{{excerpt}}</span>
                  <div class="controls">
                    <button class="btn btn-primary btn-edit" data-toggle="modal" data-target="#post-modal" data-title="What have you been up to?" data-button="Update" data-id="{{_id}}">Change</button>
                    <button class="btn btn-delete">Remove</button>
                  </div>
                </td>
                <td>{{date}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="meta">
        <p>Meta</p>
      </div>
    </div>
  </div>
</template>
