<template name="admin">
  <div class="container admin">
    <div class="page-header">
      <h1>Aufond <small>Post entries and update your personal info</small></h1>
    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#entries" data-toggle="tab">Entries</a></li>
      <li><a href="#meta" data-toggle="tab">Meta</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="entries">
        <p>Entries</p>
      </div>
      <div class="tab-pane" id="meta">
        <p>Meta</p>
      </div>
    </div>
  </div>
</template>
