<template name="post_form">
  <form id="post-form" class="form-horizontal">
    {{#if error}}
      <div class="alert alert-error">
        {{error}}
      </div>
    {{/if}}
    {{#if _id}}
      <input type="hidden" name="_id" value="{{_id}}">
    {{/if}}
    <div class="control-group">
      <label class="control-label" for="form-headline">Headline</label>
      <div class="controls">
        <input type="text" name="headline" value="{{headline}}" id="form-headline" placeholder="Moved to San Francisco">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="form-date">Date</label>
      <div class="controls">
        <input type="text" name="date" value="{{date}}" id="form-date" placeholder="June 15, 1989">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="form-excerpt">Excerpt</label>
      <div class="controls">
        <textarea name="excerpt" id="form-excerpt" rows="3">{{excerpt}}</textarea>
      </div>
    </div>
  </form>
</template>
